.no-data-tip {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;

  p {
    font-size: 0.14rem;
    margin-top: 0.15rem;
  }

  .iconfont {
    font-size: 0.5rem;
  }
}
