.news-list {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  .news-item {
    padding: 0.1rem;

    img {
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 0.25rem;
      color: #999;
      border-bottom: 0.01 solid #ededed;
      font-size: 0.12rem;

      .author {
        margin-right: 0.1rem;
      }
    }

    .title {
      padding: 0.05rem 0;
      line-height: 0.2rem;

      h1 {
        font-size: 0.16rem;
      }
    }

    &.type-1 {
      .main {
        display: flex;
        flex-direction: row;

        .pic {
          flex: 1;
          background-color: #eee;
          box-sizing: border-box;
        }

        .title {
          flex: 2;
          padding-right: 0.1rem;
          box-sizing: border-box;
        }
      }
    }

    &.type-2,
    &.type-3 {
      .pic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .img {
          width: 33.33%;
          flex: 1 1 auto;
          margin-right: 0.05rem;
          background-color: #eee;
          font-size: 0;

          &.last {
            margin: 0;
          }
        }
      }
    }
  }
}
