.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 0.44rem;
  background-color: #cf5f55;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;

    h1 {
      font-size: 0.18rem;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 0.44rem;
    height: 0.44rem;

    &.left {
      left: 0;

      a {
        font-size: 0;
      }

      .iconfont {
        font-size: 0.18rem;
        color: #fff;
      }
    }

    &.right {
      right: 0;

      .iconfont {
        font-size: 0.18rem;
        color: #fff;
        vertical-align: 0.02rem;
      }
    }
  }
}
