.nav {
  position: fixed;
  top: 0.44rem;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 0.35rem;
  border-bottom: 0.01rem solid #ddd;
  background-color: #fff;
  overflow: hidden;

  .scroll {
    height: 0.42rem;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    .nav-wrapper {
      display: flex;
      flex-direction: row;
      height: 0.35rem;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0.6rem;
        font-size: 0.16rem;

        &.current {
          color: #ec7a70;
        }
      }
    }
  }
}
