.more-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 0.3rem;
  margin-bottom: 0.1rem;
  color: #999;
  font-size: 0.14rem;

  &.loading::before {
    content: '';
    display: block;
    width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.05rem;
    background-image: url(../../assets/img/s_loading.gif);
    background-repeat: no-repeat;
    background-size: 0.15rem 0.15rem;
    background-position: 0 0;
  }
}
